## mako
<%! 
  from django.core.urlresolvers import reverse 
  from edxmako.shortcuts import marketing_link
%>
<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}"> A propos</a></li>
          <li><a href="${reverse('tos')}#privacy">Enregistrez vos cours</a></li>
          <li><a href="${reverse('tos')}#honor">La presse en parle</a></li>
          <li><a href="${reverse('about_edx')}#contact">Contact</a></li>

        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Cr&eacutee par <a href="http://code.edx.org">OpenEdX</a>.</span>
    </div>
  </footer>
</div>

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="http://www.uca.ma/site/">
          <img src="http://www.uca.ma/img/logo.png" alt="Stanford University" width="105" height="49"/>
        </a>
      </div>
      <div id="su-footer-text" class="span10">
        <ul>
          <li class="home"><a href="http://www.stanford.edu">Mot du Président</a></li>
          <li class="maps alt"><a href="http://visit.stanford.edu/plan/maps.html">Présentation</a></li>
          <li class="search-stanford"><a href="http://www.stanford.edu/search/">Organisation</a></li>
          <li class="terms alt"><a href="http://www.stanford.edu/site/terms.html">Ressources Humaines</a></li>
          <li class="copyright"><a href="http://www.stanford.edu/site/copyright.html">Sites et Etablissements</a></li>
		  <li class="copyright"><a href="http://www.stanford.edu/site/copyright.html">Stratégie UCA 2013-2016</a></li>
        </ul>
        <div class="clear"></div>
        <p class="copyright vcard">&copy; <span class="fn org">Université Cadi Ayyad - Av Abdelkrim Khattabi, B.P. 511 - 40000 - Marrakech, Maroc</span></p>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
